@font-face {
  font-family: "Chivo";
  src: url("../assets/fonts/chivo/Chivo-Bold.ttf");
}
@font-face {
  font-family: "Arimo";
  src: url("../assets/fonts/arimo/Arimo-VariableFont_wght.ttf");
}
@font-face {
  font-family: "JI_Burrito";
  src: url("../assets/fonts/ji-burrito/JI_Burrito.ttf");
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font: 22px "Arimo";
}
@media (min-width: 1100px) {
  html {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Chivo";
  width: fit-content;
  margin: 0.4em auto;
  text-align: center;
}

.section {
  padding: 1em 0;
  width: 100%;
}

.container {
  width: 80%;
  max-width: 580px;
  margin: auto;
}
@media (min-width: 1100px) {
  .container {
    max-width: 1200px;
  }
}
.container--wide {
  width: 90%;
  max-width: 1350px;
}

.btn {
  font: 2rem "Chivo";
  display: block;
  width: fit-content;
  padding: 0.2em 0.5em;
  border: 2px solid black;
  border-radius: 12px;
  background: #bc0000;
  color: white;
  transition: background 0.1s ease 0s;
}
.btn:hover {
  background: #db0000;
}

.list li {
  width: fit-content;
  margin: auto;
}

.nav {
  height: 8em;
  padding: 0.5em 0;
  background: #ffe70f;
}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  height: 100%;
}
.nav__logo-box {
  height: 100%;
  aspect-ratio: 1/1;
}
.nav__logo {
  height: 100%;
}
.nav__button {
  height: 50%;
}
@media (min-width: 800px) {
  .nav__button {
    display: none;
  }
}
.nav__list {
  font: 1.4rem "JI_Burrito";
}
@media (max-width: 799px) {
  .nav__list {
    display: none;
  }
  .nav__list[data-visible] {
    position: absolute;
    z-index: 100;
    translate: -5% 107%;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    border: 1px solid #2f2f5e;
    padding: 0.5em 0;
    background: #bc0000;
    color: white;
  }
  .nav__list[data-visible] li {
    width: 100%;
    text-align: center;
    transition: background 0.1s ease 0s;
  }
  .nav__list[data-visible] li:hover {
    background: #9d0000;
  }
}
@media (min-width: 800px) {
  .nav__list {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .nav__list li {
    margin-left: 1em;
    white-space: nowrap;
    color: black;
    transition: color 0.15s ease 0s;
  }
  .nav__list li:hover {
    color: #005b8d;
  }
}
@media (min-width: 1100px) {
  .nav__list {
    font-size: 2.5rem;
  }
}

.footer {
  font-size: 0.6rem;
  padding: 1.5em 0;
  background: url("../assets/patterns/pattern-dark.png") repeat -431px 111px, black;
  color: white;
  text-align: center;
}
.footer__nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding: 0.5em;
  margin: auto;
}
.footer__contacts {
  padding: 0.5em;
}
.footer__socials {
  width: fit-content;
  padding: 0.5em;
  margin: auto;
}
.footer__icon-link {
  display: inline-block;
  width: fit-content;
}
.footer__icon {
  display: inline-block;
  width: 2em;
  margin: 0 0.5em;
}
.footer__legal {
  display: flex;
  padding: 0.5em;
}
.footer__terms {
  width: 100%;
  text-align: right;
}
.footer__privacy {
  width: 100%;
  margin-left: 2em;
  text-align: left;
}
.footer__copyright {
  font-size: 0.7rem;
}
@media (min-width: 1100px) {
  .footer__row {
    width: 50%;
    margin: auto;
  }
  .footer__nav {
    flex-direction: column;
    text-align: end;
  }
  .footer__contacts {
    text-align: start;
  }
  .footer__socials {
    margin: 0;
  }
}

.hero {
  background: url("../assets/patterns/pattern-light.png") repeat -313px -259px, #351111;
  color: white;
}
.hero .container {
  padding: 0.5em;
}
.hero__text {
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
}
.hero__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-navy.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.hero__img {
  width: fit-content;
  height: 100%;
  margin: auto;
  object-fit: cover;
}
.hero__img img {
  border-radius: 194px 13px 159px 14px/12px 135px 9px 196px;
  line-height: 1.5em;
  border: solid 10px #2f2f5e;
}
.hero__subtitle {
  font-size: 0.8rem;
  color: #ffe70f;
  text-align: right;
}

.promo {
  background: url("../assets/patterns/pattern-light.png") repeat 139px -481px, #fffbb1;
}
.promo__item {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
@media (min-width: 1100px) {
  .promo__item {
    margin: initial;
  }
}
.promo__text {
  padding: 0.5em 0.8em;
}
.promo__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-black.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.promo__btn {
  margin: 0.5em auto;
}

.social__header--main {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-navy.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.social__icons {
  width: fit-content;
  margin: auto;
}
.social__icon {
  width: 2em;
  filter: invert(100%);
}
.social__icon--link + .social__icon--link {
  margin-left: 1em;
}
.social__photos {
  flex-wrap: wrap;
}
.social__photo {
  display: inline;
  aspect-ratio: 1/1;
  margin: 0.5em;
  object-fit: cover;
}
@media (min-width: 1100px) {
  .social__photo {
    width: 30%;
  }
}
.social__photo--post {
  border-radius: 240px 18px 240px 18px/8px 235px 12px 229px;
  line-height: 1.5em;
  border: solid 4px #2f2f5e;
}

.locations {
  background: url("../assets/patterns/pattern-light.png") repeat -178px -246px, #2f2f5e;
  color: white;
  text-align: center;
}
.locations__header {
  max-width: 600px;
  margin: auto;
}
.locations__row {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}
.locations__group {
  width: 100%;
  padding: 0.5em;
}
@media (min-width: 500px) {
  .locations__group {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .locations__group {
    width: 25%;
  }
}

.job__btn {
  font-size: 1.5rem;
  margin: auto;
}

.menu-nav {
  padding: 0;
  background: #bc0000;
  color: white;
}
.menu-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 800px) {
  .menu-nav__list {
    justify-content: space-between;
  }
}
.menu-nav__item {
  font-size: 0.8rem;
  width: 25%;
  padding: 0.5em 0;
  text-align: center;
  transition: background 0.1s ease 0s;
}
.menu-nav__item:hover {
  background: #930000;
}
@media (max-width: 499px) {
  .menu-nav__item {
    width: 50%;
  }
}
@media (min-width: 500px) {
  .menu-nav__item {
    width: 20%;
  }
}

.menu {
  padding: 0;
}
@media (min-width: 800px) {
  .menu__group:nth-of-type(even) > .row {
    flex-flow: row-reverse;
  }
}
.menu__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.menu__textbox {
  padding: 1em;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-align: center;
}
.menu__header {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  scale: 1.1;
  font-family: "JI_Burrito";
}
.menu__name {
  font-weight: bold;
}
.menu__desc {
  font-size: 0.8rem;
}
.menu__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.75em 0;
}
.menu__photo-img {
  max-height: 620px;
  object-fit: cover;
  object-position: bottom;
}
.menu__kids img {
  margin: 0 0.5em;
}
.menu__specials {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat -89px 75px, #ffe70f;
}
.menu__specials img {
  border-radius: 225px 17px 203px 12px/9px 134px 18px 209px;
  line-height: 1.5em;
  border: solid 11px #600071;
}
.menu__specials .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-purple.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__chicken {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat 447px 355px, #008dd9;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__chicken img {
  border-radius: 196px 8px 258px 10px/16px 241px 10px 124px;
  line-height: 1.5em;
  border: solid 11px #126707;
}
.menu__chicken .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-blue.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__platters {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat 460px 308px, #600071;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__platters img {
  border-radius: 149px 14px 175px 8px/16px 144px 13px 218px;
  line-height: 1.5em;
  border: solid 11px #ff5500;
}
.menu__platters .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-purple.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__burritos {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat -303px -202px, #126707;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__burritos img {
  border-radius: 197px 17px 244px 14px/8px 216px 16px 149px;
  line-height: 1.5em;
  border: solid 11px #ffe70f;
}
.menu__burritos .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-green.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__burgers {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat -52px 291px, #bc0000;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__burgers img {
  border-radius: 143px 10px 250px 17px/13px 132px 17px 238px;
  line-height: 1.5em;
  border: solid 11px #ff5500;
}
.menu__burgers .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-red.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__breakfast {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat -197px -462px, #600071;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__breakfast img {
  border-radius: 231px 18px 247px 8px/10px 217px 17px 182px;
  line-height: 1.5em;
  border: solid 11px #bc0000;
}
.menu__breakfast .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-purple.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__kids {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat -280px -123px, #008dd9;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__kids img {
  border-radius: 159px 17px 158px 16px/13px 196px 17px 164px;
  line-height: 1.5em;
  border: solid 11px #126707;
}
.menu__kids .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-blue.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__sides {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat 196px 114px, #ffe70f;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__sides img {
  border-radius: 218px 11px 194px 15px/16px 209px 9px 237px;
  line-height: 1.5em;
  border: solid 11px #600071;
}
.menu__sides .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-purple.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__drinks {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat -11px -384px, #bc0000;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__drinks img {
  border-radius: 134px 8px 216px 18px/8px 137px 9px 194px;
  line-height: 1.5em;
  border: solid 11px #008dd9;
}
.menu__drinks .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-red.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.menu__desserts {
  padding: 80px 0;
  background: url("../assets/patterns/pattern-light.png") repeat -101px 481px, #600071;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__desserts img {
  border-radius: 233px 16px 135px 12px/8px 250px 13px 147px;
  line-height: 1.5em;
  border: solid 11px #ffe70f;
}
.menu__desserts .menu__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-purple.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}

.story {
  padding: 2em;
  background-image: url("../assets/spices.jpg");
  background-position: center;
  color: black;
  text-align: center;
}
.story__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-navy.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.story__text {
  padding: 0.5em;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
@media (min-width: 800px) {
  .story__text {
    max-width: 800px;
  }
}
@media (min-width: 800px) {
  .story {
    font-size: 1.4rem;
  }
}

.about__text {
  padding: 1em;
  text-align: center;
}
.about:nth-child(odd) .container {
  flex-direction: row-reverse;
}
.about--heritage {
  background: url("../assets/patterns/pattern-light.png") repeat 150px 428px, #fffbb1;
  color: #000000;
}
.about--heritage img {
  border-radius: 137px 15px 166px 11px/17px 150px 12px 217px;
  line-height: 1.5em;
  border: solid 11px #351111;
}
.about--heritage .about__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-navy.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.about--quality {
  background: url("../assets/patterns/pattern-light.png") repeat -316px 427px, #351111;
  color: #ffffff;
}
.about--quality img {
  border-radius: 191px 10px 131px 17px/15px 230px 12px 143px;
  line-height: 1.5em;
  border: solid 11px #2f2f5e;
}
.about--quality .about__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-tan.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}
.about--community {
  background: url("../assets/patterns/pattern-light.png") repeat -39px -191px, #2f2f5e;
  color: #ffffff;
}
.about--community img {
  border-radius: 161px 10px 178px 12px/12px 138px 9px 172px;
  line-height: 1.5em;
  border: solid 11px #fffbb1;
}
.about--community .about__header {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid;
  border-image-source: url("../assets/patterns/zigzag-rosewood.png");
  border-image-slice: 151;
  border-image-repeat: repeat;
}

.career {
  text-align: center;
}
.career--top {
  background: url("../assets/patterns/pattern-light.png") repeat 463px 452px, #bc0000;
  color: white;
}
.career--top .container {
  max-width: 600px;
}
.career__text {
  padding: 1em;
}
.career__list {
  margin: 0.4em;
  font-size: 0.95rem;
}
.career__photo {
  display: flex;
  justify-content: center;
  max-height: 420px;
}
.career__photo img {
  object-fit: cover;
  border-radius: 244px 17px 251px 18px/17px 157px 18px 160px;
  line-height: 1.5em;
  border: solid 5px #351111;
}
.career__btn {
  margin: 0.3em auto;
}

.apply, .submitted {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2em;
}
.apply__btn, .submitted__btn {
  margin: 0.5em auto;
}
.apply .apply, .submitted .apply {
  transition: opacity 0.1s ease 0s;
  opacity: 0%;
}
.apply__close, .submitted__close {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 6%;
}
.apply__box, .submitted__box {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
}
.apply__submit, .submitted__submit {
  font-size: 1rem;
  margin: 0.5em auto;
}

@media (min-width: 1100px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .col {
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/*# sourceMappingURL=style.css.map */
