@font-face {
  font-family: "JI Burrito";
  src: url("../assets/fonts/ji-burrito/ji-burrito.ttf");
}
@font-face {
  font-family: "Chivo";
  src: url("../assets/fonts/chivo/Chivo-Bold.ttf");
}
@font-face {
  font-family: "Arimo";
  src: url("../assets/fonts/arimo/Arimo-VariableFont_wght.ttf");
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Arimo";
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  height: fit-content;
}

.list {
  list-style: initial;
  margin: auto;
  width: fit-content;
}
.list li {
  width: fit-content;
  margin: auto;
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  width: 100%;
  padding: 0.2em 0;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 580px;
}
@media (min-width: 1100px) {
  .container {
    max-width: 1200px;
  }
}
.container--wide {
  width: 90%;
  max-width: 1350px;
}

.btn {
  background: #bc0000;
  color: white;
  font: 2.6rem "Chivo";
  border: 2px solid #2f2f5e;
  border-radius: 12px;
  padding: 0.2em 0.5em;
  width: fit-content;
  display: block;
}

.nav {
  background: #ffe70f;
  height: 8em;
  padding: 0.5em 0;
}
.nav__row {
  justify-content: space-between;
  display: flex;
  align-items: end;
  position: relative;
  height: 100%;
}
.nav__logo {
  height: 100%;
}
.nav__button {
  height: 50%;
}
@media (min-width: 800px) {
  .nav__button {
    display: none;
  }
}
.nav__list {
  font: 2.5rem "JI Burrito";
}
@media (max-width: 799px) {
  .nav__list {
    display: none;
  }
  .nav__list[data-visible] {
    display: flex;
    background: #bc0000;
    color: white;
    border: 1px solid #2f2f5e;
    width: 100vw;
    position: absolute;
    translate: -5% 100%;
    padding: 0.5em;
    flex-wrap: wrap;
  }
  .nav__list[data-visible] li {
    width: 100%;
    text-align: center;
  }
  .nav__list[data-visible] li:hover {
    background: #9d0000;
  }
}
@media (min-width: 800px) {
  .nav__list {
    display: initial;
    display: flex;
    width: 100%;
    justify-content: end;
  }
  .nav__list li {
    font-size: clamp(2.2rem, 3.8vmax, 3.5rem);
    white-space: nowrap;
    margin-left: 1em;
  }
}

.footer {
  padding: 1.5em 0;
  background: url("../assets/patterns/pattern-dark.png") repeat 97px -265px, black;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}
@media (min-width: 1100px) {
  .footer__row {
    width: 50%;
    margin: auto;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding: 0.5em;
  margin: auto;
}
@media (min-width: 1100px) {
  .footer__nav {
    flex-direction: column;
    text-align: end;
  }
}
.footer__contacts {
  padding: 0.5em;
}
@media (min-width: 1100px) {
  .footer__contacts {
    text-align: start;
  }
}
.footer__socials {
  padding: 0.5em;
  width: fit-content;
  margin: auto;
}
@media (min-width: 1100px) {
  .footer__socials {
    margin: 0;
  }
}
.footer__icon-link {
  display: inline-block;
  width: fit-content;
}
.footer__icon {
  display: inline-block;
  width: 2em;
  margin: 0 0.5em;
}
.footer__legal {
  padding: 0.5em;
  display: flex;
}
.footer__terms {
  width: 100%;
  text-align: right;
}
.footer__privacy {
  margin-left: 2em;
  width: 100%;
  text-align: left;
}
.footer__copyright {
  font-size: 0.7rem;
}

.hero {
  font-size: 1.8rem;
  background: url("../assets/patterns/pattern-light.png") repeat 112px 70px, #351111;
  color: white;
}
.hero .container {
  padding: 0.5em;
}
.hero__text {
  text-align: center;
  padding: 1em;
  width: 100%;
}
.hero__header {
  font: 1.5em "Chivo";
  margin-bottom: 0.5em;
}
.hero__img {
  width: fit-content;
  margin: auto;
  height: 100%;
  object-fit: cover;
}
.hero__subtitle {
  font-size: 1rem;
  color: #ffe70f;
  text-align: right;
}

.promo {
  background: url("../assets/patterns/pattern-light.png") repeat 403px -81px, #008dd9;
  font-size: 1.5rem;
  text-align: center;
}
.promo__header {
  font: 2.5em "Chivo";
  margin: 0.5em 0;
}
.promo__item {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
@media (min-width: 1100px) {
  .promo__item {
    margin: initial;
  }
}
.promo__text {
  padding: 0.5em 0.8em;
}
.promo__name {
  font-family: "Chivo";
}
.promo__btn {
  margin: 0.5em auto;
}

.social__icons {
  width: fit-content;
  margin: auto;
}
.social__icon {
  filter: invert(100%);
  width: 8em;
}
.social__icon--link + .social__icon--link {
  margin-left: 2em;
}
.social__photos {
  flex-wrap: wrap;
}
.social__photo {
  display: inline;
  aspect-ratio: 1/1;
  object-fit: cover;
  padding: 0.5em;
}
@media (min-width: 1100px) {
  .social__photo {
    width: 50%;
  }
}
.social__header {
  font: 3em "Chivo";
  margin: 0.8em 0;
  text-align: center;
}

.locations {
  background: url("../assets/patterns/pattern-light.png") repeat -200px 256px, #2f2f5e;
  font-size: 1.8rem;
  text-align: center;
  color: white;
}
.locations__header {
  padding: 0.5em 1em;
  max-width: 800px;
  margin: auto;
  font-family: "Chivo";
}
.locations__row {
  flex-wrap: wrap;
  display: flex;
}
.locations__group {
  width: 100%;
  padding: 0.5em;
}
@media (min-width: 500px) {
  .locations__group {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .locations__group {
    width: 25%;
  }
}
.menu-nav {
  background: #bc0000;
  color: white;
}
.menu-nav__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .menu-nav__list {
    justify-content: space-between;
  }
}
.menu-nav__item {
  font-size: 1.2rem;
  padding: 0.5em 0;
  width: 25%;
}
@media (max-width: 499px) {
  .menu-nav__item {
    width: 50%;
  }
}
@media (min-width: 500px) {
  .menu-nav__item {
    padding: 0.8em 0;
    width: 20%;
  }
}
@media (min-width: 800px) {
  .menu-nav__item {
    width: 10%;
  }
}
.menu-nav__item:hover {
  background: #930000;
}

.menu {
  padding: 0;
}
.menu__group {
  font-size: 1.6rem;
}
@media (min-width: 800px) {
  .menu__group:nth-of-type(even) > .row {
    flex-flow: row-reverse;
  }
}
.menu__box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__textbox {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 1em;
}
.menu__header {
  font: 3rem "Chivo";
  text-transform: upper;
}
.menu__desc {
  font-size: 0.5em;
}
.menu__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__specials {
  background: url("../assets/patterns/pattern-light.png") repeat 488px -308px, #ffe70f;
  padding: 80px 0;
}
.menu__chicken {
  background: url("../assets/patterns/pattern-light.png") repeat 341px 161px, #008dd9;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__platters {
  background: url("../assets/patterns/pattern-light.png") repeat 4px -82px, #600071;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__burritos {
  background: url("../assets/patterns/pattern-light.png") repeat 24px -368px, #126707;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__burgers {
  background: url("../assets/patterns/pattern-light.png") repeat 234px -84px, #bc0000;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__breakfast {
  background: url("../assets/patterns/pattern-light.png") repeat -267px 283px, #600071;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__kids {
  background: url("../assets/patterns/pattern-light.png") repeat -375px 344px, #008dd9;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__kids img {
  margin: 0.5em 0;
}
.menu__sides {
  background: url("../assets/patterns/pattern-light.png") repeat 471px 171px, #ffe70f;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__drinks {
  background: url("../assets/patterns/pattern-light.png") repeat 15px 53px, #bc0000;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}
.menu__desserts {
  background: url("../assets/patterns/pattern-light.png") repeat 264px -128px, #600071;
  padding: 80px 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/60px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/60px 51%;
  margin-top: -50px;
}

.story {
  color: white;
  background-image: url("../assets/spices.jpg");
  background-position: center;
  padding: 2em;
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 800px) {
  .story {
    font-size: 2rem;
    padding: 2.5em;
  }
}

.about {
  padding: 2em;
}
.about--heritage {
  background: url("../assets/patterns/pattern-light.png") repeat -293px 21px, #fffbb1;
  color: black;
}
.about--quality {
  background: url("../assets/patterns/pattern-light.png") repeat -65px -193px, #351111;
  color: white;
}
.about--community {
  background: url("../assets/patterns/pattern-light.png") repeat 289px 70px, #2f2f5e;
  color: white;
}
.about__text {
  font-size: 2rem;
  padding: 1em;
  text-align: center;
}
.about__header {
  font-family: "Chivo";
}
.career {
  text-align: center;
  font-size: 1.5rem;
  padding: 1em;
}
.career--top {
  background: url("../assets/patterns/pattern-light.png") repeat -35px 291px, #bc0000;
  color: white;
}
.career--top .container {
  max-width: 576px;
}
.career__header {
  font: 2em "Chivo";
}
.career__text {
  padding: 1em;
}
.career__btn {
  margin: auto;
}

.apply {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5em;
}
.apply__close {
  width: 6%;
  position: absolute;
  top: 2%;
  right: 2%;
}
.apply__box {
  padding: 0.2em;
  display: flex;
  flex-direction: column;
}
.apply__label {
  font: 1.2rem "Chivo";
}
.apply__field {
  font-size: 1.2rem;
}
.apply__submit {
  font: 2rem "Chivo";
  color: white;
  background: #bc0000;
  width: fit-content;
  margin: 0.5em auto;
  display: block;
}

@media (min-width: 1100px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .col {
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .cell {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
